In [1]:
import pandas as pd
from datetime import datetime

In [2]:
file = '../data/lista-premieres.csv'
df = pd.read_csv(file, encoding='latin-1')

In [3]:
df.head()

,Nombre,Sexo,Fecha de nacimiento,Departamento,Fecha de juramentacion
0,Guido Bellido,M,7-Aug-79,Cusco,27-Jul-21
1,Violeta Bermudez,F,12-Aug-61,Lima,18-Nov-20
2,Antero Flores-Araoz,M,28-Feb-42,Lima,11-Nov-20
3,Walter Martos,M,11-Feb-57,Cajamarca,6-Aug-20
4,Pedro Cateriano,M,26-Jun-58,Lima,15-Jul-20

In [4]:
time_mask = '%d-%b-%Y'

In [5]:
df['Fecha de nacimiento'] = df['Fecha de nacimiento'].apply(lambda x: x[:-2] + '19' +x[-2:])
df['Fecha de nacimiento'] = df['Fecha de nacimiento'].apply(lambda x: datetime.strptime(x, time_mask))

In [6]:
df['Fecha de juramentacion'] = df['Fecha de juramentacion'].apply(lambda x: x[:-2] + '20' +x[-2:])
df['Fecha de juramentacion'] = df['Fecha de juramentacion'].apply(lambda x: datetime.strptime(x, time_mask))

In [7]:
df.head()

,Nombre,Sexo,Fecha de nacimiento,Departamento,Fecha de juramentacion
0,Guido Bellido,M,1979-08-07,Cusco,2021-07-27
1,Violeta Bermudez,F,1961-08-12,Lima,2020-11-18
2,Antero Flores-Araoz,M,1942-02-28,Lima,2020-11-11
3,Walter Martos,M,1957-02-11,Cajamarca,2020-08-06
4,Pedro Cateriano,M,1958-06-26,Lima,2020-07-15

In [8]:
df['Edad al juramentar'] = df['Fecha de juramentacion'] - df['Fecha de nacimiento']
df['Edad al juramentar'] = df['Edad al juramentar'].apply(lambda x: int(x.days / 365.25))
df.head()

,Nombre,Sexo,Fecha de nacimiento,Departamento,Fecha de juramentacion,Edad al juramentar
0,Guido Bellido,M,1979-08-07,Cusco,2021-07-27,41
1,Violeta Bermudez,F,1961-08-12,Lima,2020-11-18,59
2,Antero Flores-Araoz,M,1942-02-28,Lima,2020-11-11,78
3,Walter Martos,M,1957-02-11,Cajamarca,2020-08-06,63
4,Pedro Cateriano,M,1958-06-26,Lima,2020-07-15,62

In [9]:
df['Fecha final'] = df['Fecha de juramentacion'].shift()
df['Fecha final'].iloc[0] = datetime.strptime('26-Aug-2021', time_mask)

C:\Users\wb532468\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [10]:
df.head()

,Nombre,Sexo,Fecha de nacimiento,Departamento,Fecha de juramentacion,Edad al juramentar,Fecha final
0,Guido Bellido,M,1979-08-07,Cusco,2021-07-27,41,2021-08-26
1,Violeta Bermudez,F,1961-08-12,Lima,2020-11-18,59,2021-07-27
2,Antero Flores-Araoz,M,1942-02-28,Lima,2020-11-11,78,2020-11-18
3,Walter Martos,M,1957-02-11,Cajamarca,2020-08-06,63,2020-11-11
4,Pedro Cateriano,M,1958-06-26,Lima,2020-07-15,62,2020-08-06

In [11]:
df['Meses en el cargo'] = df['Fecha final'] - df['Fecha de juramentacion']
df['Meses en el cargo'] = df['Meses en el cargo'].apply(lambda x: x.days / 30)
df.head()

,Nombre,Sexo,Fecha de nacimiento,Departamento,Fecha de juramentacion,Edad al juramentar,Fecha final,Meses en el cargo
0,Guido Bellido,M,1979-08-07,Cusco,2021-07-27,41,2021-08-26,1.000000
1,Violeta Bermudez,F,1961-08-12,Lima,2020-11-18,59,2021-07-27,8.366667
2,Antero Flores-Araoz,M,1942-02-28,Lima,2020-11-11,78,2020-11-18,0.233333
3,Walter Martos,M,1957-02-11,Cajamarca,2020-08-06,63,2020-11-11,3.233333
4,Pedro Cateriano,M,1958-06-26,Lima,2020-07-15,62,2020-08-06,0.733333

In [12]:
df['Nacida/o en Lima?'] = 'Fuera de Lima'
df.loc[df['Departamento']=='Lima', 'Nacida/o en Lima?'] = 'En Lima'

In [13]:
df.head()

,Nombre,Sexo,Fecha de nacimiento,Departamento,Fecha de juramentacion,Edad al juramentar,Fecha final,Meses en el cargo,Nacida/o en Lima?
0,Guido Bellido,M,1979-08-07,Cusco,2021-07-27,41,2021-08-26,1.000000,Fuera de Lima
1,Violeta Bermudez,F,1961-08-12,Lima,2020-11-18,59,2021-07-27,8.366667,En Lima
2,Antero Flores-Araoz,M,1942-02-28,Lima,2020-11-11,78,2020-11-18,0.233333,En Lima
3,Walter Martos,M,1957-02-11,Cajamarca,2020-08-06,63,2020-11-11,3.233333,Fuera de Lima
4,Pedro Cateriano,M,1958-06-26,Lima,2020-07-15,62,2020-08-06,0.733333,En Lima

In [14]:
df

,Nombre,Sexo,Fecha de nacimiento,Departamento,Fecha de juramentacion,Edad al juramentar,Fecha final,Meses en el cargo,Nacida/o en Lima?
0,Guido Bellido,M,1979-08-07,Cusco,2021-07-27,41,2021-08-26,1.000000,Fuera de Lima
1,Violeta Bermudez,F,1961-08-12,Lima,2020-11-18,59,2021-07-27,8.366667,En Lima
2,Antero Flores-Araoz,M,1942-02-28,Lima,2020-11-11,78,2020-11-18,0.233333,En Lima
3,Walter Martos,M,1957-02-11,Cajamarca,2020-08-06,63,2020-11-11,3.233333,Fuera de Lima
4,Pedro Cateriano,M,1958-06-26,Lima,2020-07-15,62,2020-08-06,0.733333,En Lima
5,Vicente Zeballos,M,1963-05-10,Tacna,2019-09-30,56,2020-07-15,9.633333,Fuera de Lima
6,Salvador del Solar,M,1970-05-01,Lima,2019-03-11,48,2019-09-30,6.766667,En Lima
7,Cesar Villanueva,M,1946-08-05,San Martin,2018-04-02,71,2019-03-11,11.433333,Fuera de Lima
8,Mercedes Araoz,F,1961-08-05,Lima,2017-09-17,56,2018-04-02,6.566667,En Lima
9,Fernando Zavala,M,1971-02-19,Tacna,2016-07-28,45,2017-09-17,13.866667,Fuera de Lima
10,Pedro Cateriano,M,1958-06-26,Lima,2015-04-02,56,2016-07-28,16.100000,En Lima
11,Ana Jara,F,1968-05-11,Ica,2014-07-22,46,2015-04-02,8.466667,Fuera de Lima
12,Rene Cornejo,M,1962-01-06,Arequipa,2014-02-24,52,2014-07-22,4.933333,Fuera de Lima
13,Cesar Villanueva,M,1946-08-05,San Martin,2013-10-31,67,2014-02-24,3.866667,Fuera de Lima
14,Juan Jimenez Mayor,M,1964-08-05,Lima,2012-07-23,47,2013-10-31,15.500000,En Lima
15,Oscar Valdes,M,1949-04-03,Tacna,2011-12-11,62,2012-07-23,7.500000,Fuera de Lima
16,Salomon Lerner Ghitis,M,1946-02-04,Lima,2011-07-28,65,2011-12-11,4.533333,En Lima
17,Rosario Fernandez,F,1955-11-09,Lima,2011-03-19,55,2011-07-28,4.366667,En Lima
18,Jose Antonio Chang,M,1958-05-19,Lima,2010-09-14,52,2011-03-19,6.200000,En Lima
19,Javier Velasquez Quesquen,M,1960-03-12,Lambayeque,2009-07-11,49,2010-09-14,14.333333,Fuera de Lima
20,Yehude Simon,M,1947-07-18,Lima,2008-10-14,61,2009-07-11,9.000000,En Lima
21,Jorge del Castillo,M,1950-07-02,Lima,2006-07-28,56,2008-10-14,26.966667,En Lima
22,Pedro Pablo Kuczynski,M,1938-10-03,Lima,2005-08-16,66,2006-07-28,11.533333,En Lima
23,Carlos Ferrero Costa,M,1941-02-07,Lima,2003-12-15,62,2005-08-16,20.333333,En Lima
24,Beatriz Merino,F,1947-11-15,Lima,2003-06-23,55,2003-12-15,5.833333,En Lima
25,Luis Solari,M,1948-01-28,Lima,2002-07-12,54,2003-06-23,11.533333,En Lima
26,Roberto Dañino,M,1951-03-02,Lima,2001-07-28,50,2002-07-12,11.633333,En Lima
27,Javier Perez de Cuellar,M,1920-01-19,Lima,2000-11-22,80,2001-07-28,8.266667,En Lima

In [15]:
pc = df['Nombre'].iloc[0]
fs = df['Nombre'].iloc[1]
mm = df['Nombre'].iloc[2]
mv = list(df['Nombre'].iloc[3:8])
ppk = list(df['Nombre'].iloc[8:10])
oh = list(df['Nombre'].iloc[10:17])
ag = list(df['Nombre'].iloc[17:22])
at = list(df['Nombre'].iloc[22:27])
vp = df['Nombre'].iloc[27]

In [16]:
df['Presidente'] = ''
df.loc[df['Nombre']==pc, 'Presidente'] = 'PC'
df.loc[df['Nombre']==fs, 'Presidente'] = 'FS'
df.loc[df['Nombre']==mm, 'Presidente'] = 'MM'
df.loc[df['Nombre'].isin(mv), 'Presidente'] = 'MV'
df.loc[df['Nombre'].isin(ppk), 'Presidente'] = 'PPK'
df.loc[df['Nombre'].isin(oh), 'Presidente'] = 'OH'
df.loc[df['Nombre'].isin(ag), 'Presidente'] = 'AG'
df.loc[df['Nombre'].isin(at), 'Presidente'] = 'AT'
df.loc[df['Nombre']==vp, 'Presidente'] = 'VP'
df['Presidente'].iloc[4] = 'MV'
df['Presidente'].iloc[7] = 'MV'

C:\Users\wb532468\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [17]:
df['Nombre2'] = df['Nombre'] + ' (' + df['Presidente'] + ')'

In [18]:
df

,Nombre,Sexo,Fecha de nacimiento,Departamento,Fecha de juramentacion,Edad al juramentar,Fecha final,Meses en el cargo,Nacida/o en Lima?,Presidente,Nombre2
0,Guido Bellido,M,1979-08-07,Cusco,2021-07-27,41,2021-08-26,1.000000,Fuera de Lima,PC,Guido Bellido (PC)
1,Violeta Bermudez,F,1961-08-12,Lima,2020-11-18,59,2021-07-27,8.366667,En Lima,FS,Violeta Bermudez (FS)
2,Antero Flores-Araoz,M,1942-02-28,Lima,2020-11-11,78,2020-11-18,0.233333,En Lima,MM,Antero Flores-Araoz (MM)
3,Walter Martos,M,1957-02-11,Cajamarca,2020-08-06,63,2020-11-11,3.233333,Fuera de Lima,MV,Walter Martos (MV)
4,Pedro Cateriano,M,1958-06-26,Lima,2020-07-15,62,2020-08-06,0.733333,En Lima,MV,Pedro Cateriano (MV)
5,Vicente Zeballos,M,1963-05-10,Tacna,2019-09-30,56,2020-07-15,9.633333,Fuera de Lima,MV,Vicente Zeballos (MV)
6,Salvador del Solar,M,1970-05-01,Lima,2019-03-11,48,2019-09-30,6.766667,En Lima,MV,Salvador del Solar (MV)
7,Cesar Villanueva,M,1946-08-05,San Martin,2018-04-02,71,2019-03-11,11.433333,Fuera de Lima,MV,Cesar Villanueva (MV)
8,Mercedes Araoz,F,1961-08-05,Lima,2017-09-17,56,2018-04-02,6.566667,En Lima,PPK,Mercedes Araoz (PPK)
9,Fernando Zavala,M,1971-02-19,Tacna,2016-07-28,45,2017-09-17,13.866667,Fuera de Lima,PPK,Fernando Zavala (PPK)
10,Pedro Cateriano,M,1958-06-26,Lima,2015-04-02,56,2016-07-28,16.100000,En Lima,OH,Pedro Cateriano (OH)
11,Ana Jara,F,1968-05-11,Ica,2014-07-22,46,2015-04-02,8.466667,Fuera de Lima,OH,Ana Jara (OH)
12,Rene Cornejo,M,1962-01-06,Arequipa,2014-02-24,52,2014-07-22,4.933333,Fuera de Lima,OH,Rene Cornejo (OH)
13,Cesar Villanueva,M,1946-08-05,San Martin,2013-10-31,67,2014-02-24,3.866667,Fuera de Lima,OH,Cesar Villanueva (OH)
14,Juan Jimenez Mayor,M,1964-08-05,Lima,2012-07-23,47,2013-10-31,15.500000,En Lima,OH,Juan Jimenez Mayor (OH)
15,Oscar Valdes,M,1949-04-03,Tacna,2011-12-11,62,2012-07-23,7.500000,Fuera de Lima,OH,Oscar Valdes (OH)
16,Salomon Lerner Ghitis,M,1946-02-04,Lima,2011-07-28,65,2011-12-11,4.533333,En Lima,OH,Salomon Lerner Ghitis (OH)
17,Rosario Fernandez,F,1955-11-09,Lima,2011-03-19,55,2011-07-28,4.366667,En Lima,AG,Rosario Fernandez (AG)
18,Jose Antonio Chang,M,1958-05-19,Lima,2010-09-14,52,2011-03-19,6.200000,En Lima,AG,Jose Antonio Chang (AG)
19,Javier Velasquez Quesquen,M,1960-03-12,Lambayeque,2009-07-11,49,2010-09-14,14.333333,Fuera de Lima,AG,Javier Velasquez Quesquen (AG)
20,Yehude Simon,M,1947-07-18,Lima,2008-10-14,61,2009-07-11,9.000000,En Lima,AG,Yehude Simon (AG)
21,Jorge del Castillo,M,1950-07-02,Lima,2006-07-28,56,2008-10-14,26.966667,En Lima,AG,Jorge del Castillo (AG)
22,Pedro Pablo Kuczynski,M,1938-10-03,Lima,2005-08-16,66,2006-07-28,11.533333,En Lima,AT,Pedro Pablo Kuczynski (AT)
23,Carlos Ferrero Costa,M,1941-02-07,Lima,2003-12-15,62,2005-08-16,20.333333,En Lima,AT,Carlos Ferrero Costa (AT)
24,Beatriz Merino,F,1947-11-15,Lima,2003-06-23,55,2003-12-15,5.833333,En Lima,AT,Beatriz Merino (AT)
25,Luis Solari,M,1948-01-28,Lima,2002-07-12,54,2003-06-23,11.533333,En Lima,AT,Luis Solari (AT)
26,Roberto Dañino,M,1951-03-02,Lima,2001-07-28,50,2002-07-12,11.633333,En Lima,AT,Roberto Dañino (AT)
27,Javier Perez de Cuellar,M,1920-01-19,Lima,2000-11-22,80,2001-07-28,8.266667,En Lima,VP,Javier Perez de Cuellar (VP)

In [19]:
file = '../data/dataframe.pkl'
df.to_pickle(file)